body {
  background-image: url("https://newcastlebeach.org/images/nice-tree-3.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal_trigger {
  position: fixed;
  bottom: 1em;
  right: 2em;
  cursor: pointer;
}

.boostAiChatButtonEnabled {
  border: 5px solid #ddd;
  opacity: 0.5;
}

#page-info {
  background-color: rgba(233, 241, 222, 0.8);

  width: fit-content;
  padding: 5px;

  font-size: larger;
}
