@font-face {
  font-family: avoFont;
  src: url("fonts/avoFont.otf") format("opentype");
}

html {
  height: 100%;
}

body {
  background-image: url("img/background2.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: avoFont;
  margin: 0;
  height: 100%;
}

.flash {
  font-size: 100px;
  color: red;
  transition: font-size 1s;
}

.modal_trigger {
  position: fixed;
  bottom: 1em;
  right: 2em;
  cursor: pointer;
}

.boostAiChatButtonEnabled {
  border: 5px solid #ddd;
  opacity: 0.5;
}
.content {
  background-color: rgba(17, 119, 82, 0.9);
  padding: 20px;
  width: 40%;
}
#page-info {
  width: fit-content;
  padding: 5px;

  font-size: larger;
}
